NET "clock"      CLOCK_DEDICATED_ROUTE = FALSE;
NET "clk"         CLOCK_DEDICATED_ROUTE = FALSE;
NET "clock"      LOC = "B8";
NET "clk"         LOC = "R17";
NET "reset"          LOC = "N17";
NET "test<0>" LOC = "G18";
NET "test<1>" LOC = "H18";
NET "test<2>" LOC = "K18";
NET "test<3>" LOC = "K17";
NET "test<4>" LOC = "L14";
NET "a"        LOC = "L18";
NET "b"        LOC = "F18";
NET "c"        LOC = "D17";
NET "d"        LOC = "D16";
NET "e"        LOC = "G14";
NET "f"        LOC = "J17";
NET "g"        LOC = "H14";
NET "A<0>"       LOC = "F17";
NET "A<1>"       LOC = "H17";
NET "A<2>"       LOC = "C18";
NET "A<3>"       LOC = "F15";